@charset "UTF-8";

.body {
  color: #000;
  font-weight: 400;
  font-size: 18px;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px 50px;
  line-height: 24px;
}

.header__menu {
  line-height: 22px;
}

.header__links-list {
  display: flex;
  gap: 32px;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  text-underline-position: under;
  /* line-height: 21.13px; */
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  align-self: center;
  justify-self: center;
  height: 105px;
  width: 136px;
}

.header__logo-image {
  width: 100%;
}

.address {
  display: flex;
  flex-direction: column;
  font-style: normal;
  max-width: 240px;
}

.header__address{
  justify-self: end;
}

.address__link {
  text-underline-position: under;
}

.address__text {
  word-wrap: normal;
  white-space: normal;
}

.cover {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  padding: 165px 50px 50px 50px;
  background: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  opacity: 0.6;
  background: #000;
}

.cover__title {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-size: 100px;
  gap: 20px;
  z-index: 2;
}

.letter-spacing-extended {
  letter-spacing: 30px;
}

.aligned-text {
  text-transform: inherit;
  line-height: 115%;
}

.aligned-text_center {
  padding-left: 30px;
  text-align: center;
}

.aligned-text_right {
  margin-right: -30px;
  text-align: right;
}

.cover__description {
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  align-items: center;
  justify-content: start;
  line-height: 140%;
  gap: 107px;
  padding-top: 106px;
  z-index: 2;
}

.cover__description-text {
  font-size: 22px;
  word-spacing: 18.5px;
  line-height: 127%;
  white-space: nowrap;
  text-transform: uppercase;

}

.bet-button {
  font-size: 22px;
  border: 1px solid #fff;
  padding: 11px 31px 12px 32px;
  color: inherit;
  text-transform: inherit;
  background: transparent;
}