@charset "UTF-8";

.body {
  color: #000;
  font-weight: 400;
  font-size: 18px;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px 50px;
  line-height: 24px;
}

.header__menu {
  line-height: 22px;
}

.header__links-list {
  display: flex;
  gap: 32px;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  text-underline-position: under;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  align-self: center;
  justify-self: center;
  height: 105px;
  width: 136px;
}

.header__logo-image {
  width: 100%;
}

.address {
  display: flex;
  flex-direction: column;
  font-style: normal;
  max-width: 240px;
  line-height: 24.3px;
}

.header__address {
  justify-self: end;
}

.address__link {
  text-underline-position: under;
}

.address__text {
  word-wrap: normal;
  white-space: normal;
}

.cover {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  padding: 165px 50px 50px 50px;
  background: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  z-index: 2;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: -1;
  opacity: 0.6;
  background: #000;
}

.cover__title {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 100px;
  gap: 20px;
}

.letter-spacing-extended {
  letter-spacing: 30px;
}

.aligned-text {
  text-transform: inherit;
  line-height: 115%;
}

.aligned-text_center {
  padding-left: 30px;
  text-align: center;
}

.aligned-text_right {
  margin-right: -30px;
  text-align: right;
}

.cover__description {
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  align-items: center;
  justify-content: start;
  line-height: 140%;
  gap: 107px;
  padding-top: 106px;
}

.cover__description-text {
  font-size: 22px;
  word-spacing: 18.5px;
  line-height: 127%;
  white-space: nowrap;
  text-transform: uppercase;
}

.bet-button {
  font-size: 22px;
  border: 1px solid #fff;
  padding: 11px 31px 12px 32px;
  color: inherit;
  text-transform: inherit;
  background: transparent;
}

.lots {
  padding: 180px 24px 0px 24px;
}

.lots__heading {
  text-transform: uppercase;
  padding: 0 0 27px 40px;
  font-weight: 700;
  font-size: 40px;
}

.lots__card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 25px;
  color: #fff;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card-link {
  text-decoration: none;
}

.card_type_film {
  background: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background: url(../images/card-lot-03.jpg);
}

.card {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card__title {
  font-weight: 700;
  font-size: 22px;
  text-decoration: underline;
  text-underline-position: under;
  text-transform: uppercase;
}

.card__text {
  font-weight: 400;
  font-size: 20px;
}

.lots__look-more-link {
  display: block;
  font-size: 20px;
  font-weight: 400;
  padding: 30px 0 0 40px;
  text-underline-position: under;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  grid-template-rows: auto;
  padding: 120px 24px 180px 24px;
  gap: 20px;
}

.about__column {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-top: 35px;
}

.about__logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #000;
  width: 240px;
  height: 240px;
  border-radius: 50%;
}

.about__logo-image {
  width: 62%;
}
.about__title {
  align-self: start;
  padding: 100px 0 100px 0;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}
.about__text {
  display: flex;
  flex-direction: column;
  align-self: start;
  font-weight: 400;
  font-size: 20px;
  white-space: pre-line;
  gap: 25px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  font-size: 18px;
  padding: 0px 50px 82px 50px;
}

.footer__menu {
  text-align: center;
}
.footer__menu-list {
  display: flex;
  flex-direction: column;
}

.footer__menu-list-item {
  list-style: none;
}

.footer__menu-link {
  text-underline-position: under;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  gap: 48px;
  justify-self: end;
}

.footer__social-list-item {
  list-style: none;
}

.footer__social-link {
  height: 100%;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}